name: FrontendUI
trigger: none 
pool:
  name: windows-self-hosted
steps:
  - task: PowerShell@2
    inputs:
      targetType: 'inline'
      script: 'node -v'

  - task: NodeTool@0
    inputs:
      versionSource: 'spec'
      versionSpec: '18.x'

  - task: Npm@1
    inputs:
      command: 'install'
      workingDir: '/inventory_frontend'


  - task: Npm@1
    inputs:
      command: 'custom'
      customCommand: 'run build'