name: FrontendUI
trigger: none

pool:
  name: windows-self-hosted

steps:
# 1️⃣ Clean checkout (MOST IMPORTANT for self-hosted agent)
- checkout: self
  clean: true

# 2️⃣ Verify agent + workspace (optional but useful)
- task: PowerShell@2
  displayName: Agent & Workspace Check
  inputs:
    targetType: inline
    script: |
      echo "Build Sources Directory:"
      echo $(Build.SourcesDirectory)
      dir $(Build.SourcesDirectory)

# 3️⃣ Install Node.js
- task: NodeTool@0
  displayName: Install Node.js
  inputs:
    versionSpec: '18.x'

# 4️⃣ npm install
- task: Npm@1
  displayName: npm install
  inputs:
    command: install
    workingDir: '$(Build.SourcesDirectory)/inventory_frontend'

# 5️⃣ npm run build
- task: Npm@1
  displayName: npm run build
  inputs:
    command: custom
    customCommand: 'run build'
    workingDir: '$(System.DefaultWorkingDirectory)/inventory_frontend'


# 6️⃣ (OPTIONAL) Publish build artifact
- task: PublishBuildArtifacts@1
  displayName: Publish build artifact 
  inputs:
    PathtoPublish: '$(System.DefaultWorkingDirectory)/inventory_frontend/dist'
    ArtifactName: 'drop-$(Build.BuildNumber)'
    publishLocation: 'Container'


- task: DownloadBuildArtifacts@0
  displayName: Download build artifact
  inputs:
    buildType: 'current'
    downloadType: 'single'
    artifactName: 'drop-$(Build.BuildNumber)'
    downloadPath: '$(Pipeline.Workspace)'



- task: PowerShell@2
  displayName: Verify artifact structure
  inputs:
    targetType: inline
    script: |
      dir $(Pipeline.Workspace)
      dir $(Pipeline.Workspace)\drop-$(Build.BuildNumber)


- task: AzureCLI@2
  displayName: Deploy to Azure Blob Static Website
  inputs:
    azureSubscription: 'azure-prod-sc'
    scriptType: ps
    scriptLocation: inlineScript
    inlineScript: |
      az storage blob upload-batch `
        --account-name todoartifact `
        --destination '$web' `
        --source "$(Pipeline.Workspace)\drop-FrontendUI\dist" `
        --overwrite
